.orderDetails {
  margin-bottom: calc(120px - 40px - 8px);
}
.id {
  text-align: center;
  margin-bottom: 32px;
  /* button/glow */
  text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px rgba(51, 51, 255, 0.25);

}

.id-text {
  text-align: center;
  margin-bottom: 60px;
}

.image {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto 60px;
}

.text {
  text-align: center;
  margin-bottom: 8px;
}