.burger-ingredients-item {
  cursor: pointer;
}
  .image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .price {
    display: flex;
    justify-content: center;
  }
    .currency {
      margin-left: 8px;
    }
  .name {
    padding: 0;
    margin: 0;
    text-align: center;
  }